[Desktop Entry]
Name=Disk Notifications
Comment=Provides notifications related to disks
Icon=gdu-notification-daemon
Exec=/usr/lib/gnome-disk-utility/gdu-notification-daemon
Terminal=false
Type=Application
Categories=
OnlyShowIn=Pantheon;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-disk-utility
X-GNOME-Bugzilla-Component=notifications
X-GNOME-Bugzilla-Version=3.0.2
#X-GNOME-AutoRestart=true
X-GNOME-Autostart-Delay=10
NoDisplay=true
X-Ubuntu-Gettext-Domain=gnome-disk-utility
