[Desktop Entry]
Name=Personal File Sharing
Comment=Launch Personal File Sharing if enabled
Icon=folder-remote
Exec=/usr/lib/gnome-user-share/gnome-user-share
Terminal=false
Type=Application
Categories=
OnlyShowIn=Pantheon
X-GNOME-Autostart-Delay=15
NoDisplay=true
X-Ubuntu-Gettext-Domain=gnome-user-share
