[Desktop Entry]
Type=Application
Name=GNOME Settings Daemon's orientation plugin
Exec=/usr/lib/gnome-settings-daemon/gsd-orientation
OnlyShowIn=Pantheon;
NoDisplay=true
X-GNOME-Autostart-Phase=Initialization
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
