[Desktop Entry]
Version=1.0
Name=Chat
Comment=Telepathy Indicator Service
Exec=telepathy-indicator
Icon=applications-chat-panel
StartupNotify=false
Terminal=false
Type=Application
Categories=GNOME;GTK;Network;InstantMessaging;
NoDisplay=true
OnlyShowIn=Pantheon;
AutostartCondition=GNOME3 unless-session gnome
X-GNOME-Autostart-Delay=15
X-GNOME-Autostart-Phase=Application
X-GNOME-Autostart-Notify=true
X-Ubuntu-Gettext-Domain=telepathy-indicator
