Source: pantheon-xsession-settings
Section: x11
Priority: optional
Maintainer: Sergey "Shnatsel" Davidoff <shnatsel@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.1
Vcs-Bzr: http://bazaar.launchpad.net/~elementaryart/elementaryos/pantheon-xsession-settings

Package: pantheon-xsession-settings
Architecture: all
Depends: ${misc:Depends}, gnome-session-bin, gnome-settings-daemon, cerbere
Recommends: pantheon-shell, compiz, compiz-plugins, compiz-plugins-default, compiz-plugins-main-default
Description: Pantheon session for login screen
 This package installs a fully usable X login session and provides some 
 session-specific configuration files and defaults. Installing this package will 
 add a session called Pantheon to your login screen.
