Source: pantheon-xsession-settings
Section: x11
Priority: optional
Maintainer: Cody Garver <cody@elementary.io>
Build-Depends: debhelper (>= 9), meson, gnome-settings-daemon-dev, desktop-file-utils
Standards-Version: 3.9.6

Package: pantheon-xsession-settings
Architecture: all
Depends: gnome-session-bin, gala (>= 0.3.2~), pantheon-shell, ${misc:Depends}
Description: Pantheon session for login screen
 This package installs a fully usable X login session and provides some
 session-specific configuration files and defaults. Installing this package will
 add a session called Pantheon to your login screen.
