[Desktop Entry]
Name=Pantheon
Comment=This session provides elementary experience
Exec=gnome-session --session=pantheon
TryExec=gnome-session
Icon=
Type=Application
