name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: elementary/docker:unstable

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Install Dependencies
      run: |
        apt update
        apt install -y meson pkg-config gnome-settings-daemon gnome-settings-daemon-dev onboard gnome-keyring orca

    - name: Build
      run: |
        meson build
        ninja -C build
        ninja -C build install

  build-nix:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Nix
        uses: cachix/install-nix-action@v11

      - name: Build
        run: 'nix-build --quiet -I nixpkgs=channel:20.03'
